process {
  executor = 'k8s'
  errorStrategy = 'retry'
  maxRetries = 3
  pod {
    //nodeSelector: [disktype: 'ssd', cpu: 'intel']
    //tolerations = []
    automountServiceAccountToken = true
    ttlSecondsAfterFinished: 60
  }
}

k8s {
  namespace = 'nextflow'
  computeResourceType = 'Job'
  serviceAccount = 'nextflow-submitter'
  storageClaimName = 'nextflow-workdir'
  storageMountPath = '/work'
  launchDir = '/work/launch'
  workDir = '/work'
}

cleanup = true