process {
  executor = 'k8s'
  errorStrategy = 'retry'
  maxRetries = 3
}

k8s {
  namespace = 'nextflow'
  serviceAccount = 'nextflow-submitter'
  storageClaimName = 'nextflow-workdir'
  storageMountPath = '/work'
  //launchDir = '/mnt/pvc'
  //workDir = '/work'
  pod {
    nodeSelector = 'kubernetes.io/os=linux'
    tolerations = []
    automountServiceAccountToken = true
  }
}
k8s.computeResourceType = 'Job'