k8s {
  namespace = 'nextflow'
  serviceAccount = 'nextflow-submitter'
  storageClaimName = 'nextflow-pvc'
  launchDir = '/mnt/pvc'
  workDir = '/mnt/pvc/work'
  pod {
    nodeSelector = 'kubernetes.io/os=linux'
    tolerations = []
    automountServiceAccountToken = true
  }
}
k8s.computeResourceType = 'Job'

podOptions {
  labels = [
    "project": "hello-k8s"
  ]
  automountServiceAccountToken = false
}

process {
  executor = 'k8s'
  errorStrategy = 'retry'
  maxRetries = 3
  pod {
    memory = '1Gi'
    cpu = '500m'
  }
}
